
.h1
{
    color:rgb(188, 120, 108);
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    font-size: 44px;
}
.text
{
    font-size:16px;
    font-family:'Times New Roman';
    text-align:center;
}
.i
{
    font-style:italic;
    font-size:16px;
    font-family:'Times New Roman';
    text-align:center;
}
.border
{

    background-color: #913737;
    padding: 20px;
    border: 1px solid #6b2222;
    width:800px;
    height:400px;
    border-radius: 5px;
    margin:0 auto;
}
#border-left
{
    float:left;
    width:380px;
    height:30px;
    border: 1px rgb(126, 52, 52);
    margin-bottom: 20px;

}
#border-right
{
    float:right;
    width: 380px;
    height:30px;
    border: 1px rgb(124, 103, 103);
    margin-bottom: 20px;
}
#border-center
{   
    width:800px;
    height:150px;
    border: 1px rgb(116, 93, 93);
    padding: 2 px;
}
#border-left1
{
    float:left;
    width:100px;
    height:30px;
    background-color:rgb(131, 177, 214);
    margin-top: 20px;
    border: 1px rgb(202, 162, 162);
    color:rgb(193, 148, 148);
}
.tag
{
    text-align:right;
    background-color: rgb(4, 4, 4);
    color: rgb(129, 145, 212);
    padding: 5px 10px;
    border-radius: 5px  rgb(147, 157, 197);
    display: inline-block;
    margin-right: 10px;
    font-size:16px;
}